<html>
  <head>

  <link rel="stylesheet" type="text/css" href=" Design/style.css">.

  	<title> Instrumentalist - About</title>
 		
 	<!-- Latest compiled and minified CSS -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
 	<!-- jQuery library -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
 	<!-- Latest compiled JavaScript -->
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <div class="topnav" id="myTopnav">
  <a class="active" href="#home">Home</a>
  <a href="#categories">categories</a>
  <a href="#add">add</a>
  <a href="#about">About</a>
  <a href="#log out">Log out</a>

</div>



  <div class="container">
  <div class="jumbotron">
    <h1> instrumentalist</h1> 
    <p> do you have an instrument you no longer use and you're looking for someone to sell it to? or are you struggling to find a good instrument for a reasonable price?
    if you just answered yes than this is the website for you!
    <br><br>
    It was part of my MEET y2 project :) </p> 
  </div>
</div>

</body>
</html>
